app-login {
    font-family: 'Amatic SC', sans-serif;
}
.foto-perfil{
    border-radius: 150px;
}
.cerrar-sesion{
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0;
}
.foto-alicia{
  width: 70%;
  border-radius: 150px;
}
