<ion-header>
  <ion-navbar color="danger">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Lista de Recetas</ion-title>
  </ion-navbar>
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC:700" rel="stylesheet">
</ion-header>

<ion-content padding>
  <!-- buscador -->
  <ion-item>
    <ion-label icon left floating>
      <ion-icon ios="ios-search" md="md-search"></ion-icon>
      Buscar</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
  <!-- filtros -->
  &nbsp;&nbsp;
  <!-- filtro dificultas -->
  <ion-list>
    <ion-list-header class="label label-ios text-center">
      <ion-icon [hidden]="statusDificultad" name="arrow-dropdown" item-left (click)="statusDificultad=!statusDificultad;"></ion-icon>
      <ion-icon [hidden]="!statusDificultad" name="arrow-dropup" item-left (click)="statusDificultad=!statusDificultad;"></ion-icon>
      Filtrar Dificultad de receta
      <ion-badge item-end color="danger">{{dificultad}}</ion-badge>
    </ion-list-header>
    <ion-item [hidden]="!statusDificultad">
      <ion-range class="borde" pin="true" min="1" max="5" step="1" snaps="true" [(ngModel)]="dificultad" color="danger">
        <ion-icon range-left color="secondary" name="alert-outline"></ion-icon>
        <ion-icon range-right color="danger" name="alert-outline"></ion-icon>
        <ion-icon range-right color="danger" name="alert-outline"></ion-icon>
      </ion-range>
    </ion-item>
  </ion-list>

  <!-- filtro tiempo -->
  <ion-list>
    <ion-list-header class="label label-ios text-center">
      <ion-icon [hidden]="statusTiempo" name="arrow-dropdown" item-left (click)="statusTiempo=!statusTiempo;"></ion-icon>
      <ion-icon [hidden]="!statusTiempo" name="arrow-dropup" item-left (click)="statusTiempo=!statusTiempo;"></ion-icon>
      Filtrar Tiempo de preparacion
      <ion-badge item-end color="danger">{{tiempo.lower}}</ion-badge>
      <ion-badge item-end color="danger">{{tiempo.upper}}</ion-badge>
    </ion-list-header>
    <ion-item [hidden]="!statusTiempo">
      <ion-range dualKnobs="true" pin="true" min="10" max="120" step="10" color="dark" [(ngModel)]="tiempo" (ionChange)="onChange($event)">
        <ion-label range-left color="secondary">10</ion-label>
        <ion-label range-right color="danger">120</ion-label>
      </ion-range>
    </ion-item>
  </ion-list>


  <!-- filto trastornos_alimenticios -->
  <div padding>
    <ion-segment [(ngModel)]="trastornos_alimenticios" color="danger">
      <ion-segment-button value="diabetes">
        Diabetes
      </ion-segment-button>
      <ion-segment-button value="celiaquia">
        Celiaquia
      </ion-segment-button>
      <ion-segment-button value="vegetariano">
        Vegetariano
      </ion-segment-button>
      <ion-segment-button value="hipertension">
        Hipertension
      </ion-segment-button>
    </ion-segment>
  </div>



  &nbsp;&nbsp;
  <!-- titulo y cantidad de elementos -->
  <ion-list *ngFor="let lista of _listaRecetasServicios.listas; let i = index">
    <ion-item color="light" class="text-center">
      <ion-thumbnail item-start>
        <img src="../assets/imgs/mila_papas.jpg">
      </ion-thumbnail>
      <h2> {{ lista.nombre }}</h2>
      <ion-icon [hidden]="lista.show" name="arrow-dropdown" item-right (click)="lista.show=!lista.show;"></ion-icon>
      <ion-icon [hidden]="!lista.show" name="arrow-dropup" item-right (click)="lista.show=!lista.show;"></ion-icon>
      <ion-icon item-left ios="ios-information-circle-outline" md="md-information-circle-outline" (click)="verDetalle(lista,i)"></ion-icon>
    </ion-item>
    <!-- elementos -->
    <ion-list [hidden]="!lista.show">
      <ion-item *ngFor="let item of lista.items" (click)="actualizar(item)">
        <ion-icon item-left *ngIf="item.completado" ios="ios-checkmark-circle" md="md-checkmark-circle" color="danger"></ion-icon>
        <ion-icon item-left *ngIf="!item.completado" ios="ios-checkmark-circle-outline" md="md-checkmark-circle-outline" color="danger"></ion-icon>
        <ion-label [class.tachado]="item.completado">{{item.nombre}}</ion-label>
      </ion-item>
    </ion-list>
  </ion-list>

  <!-- boton de agregar -->
  <ion-fab bottom right>
    <button ion-fab color="dark" (click)="showConfirm()">
        <ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
