page-list {
    font-family: 'Amatic SC', sans-serif;
}
.tachado{
    text-decoration: line-through;
}
.alert-button{
    width: fit-content;
    height: fit-content;
}
.hipervinculo-detalle{
  text-decoration: underline;
  text-underline-position: under;
  font-size: 18px;
  margin-left: 10px;
}
