<ion-header>
  <ion-navbar color="danger">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Ingredientes</ion-title>
  </ion-navbar>
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC:700" rel="stylesheet">
</ion-header>
<ion-content padding>
  <!-- buscador -->
  <ion-searchbar (ionInput)="getItems($event)">Buscar</ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let item of items">
      {{ item }}
    </ion-item>
  </ion-list>
  <!-- ingredientes -->
  <ion-list>
    <ion-item>
      <ion-label>Comensales</ion-label>
      <ion-select [(ngModel)]="comensales" multiple="true" cancelText="Cancelar" okText="Aceptar">
        <ion-option value="uno_Persona">1 persona</ion-option>
        <ion-option value="dos_Persona">2 persona</ion-option>
        <ion-option value="tres_Persona">3 persona</ion-option>
        <ion-option value="cuatro_Persona">4 persona</ion-option>
        <ion-option value="cinco_Persona">5 persona</ion-option>
        <ion-option value="seis_Persona">6 persona</ion-option>
        <ion-option value="siete_Persona">7 persona</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item>
      <ion-label>Categorias</ion-label>
      <ion-select [(ngModel)]="categorias" multiple="true" cancelText="Cancelar" okText="Aceptar">
        <ion-option value="Carnes de vaca">Carnes de vaca</ion-option>
        <ion-option value="Vegetales">Vegetales</ion-option>
        <ion-option value="Carnes de pollo">Carnes de pollo</ion-option>
        <ion-option value="Carnes de pescado">Carnes de pescado</ion-option>
        <ion-option value="Quesos">Quesos</ion-option>
        <ion-option value="Fiambres">Fiambres</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item>
      <ion-label>Ingredientes</ion-label>
      <ion-select [(ngModel)]="ingredientes" multiple="true" cancelText="Cancelar" okText="Aceptar">
        <ion-option value="Brocoli">Brocoli</ion-option>
        <ion-option value="Acelga">Acelga</ion-option>
        <ion-option value="Aji">Aji</ion-option>
        <ion-option value="Apio">Apio</ion-option>
        <ion-option value="Lechuga">Lechuga</ion-option>
        <ion-option value="Cebolla">Cebolla</ion-option>
        <ion-option value="Zanahoria">Zanahoria</ion-option>
        <ion-option value="Muzzarella">Muzzarella</ion-option>
        <ion-option value="Azul">Azul</ion-option>
        <ion-option value="Cuatro quesos">Cuatro quesos</ion-option>
        <ion-option value="Gouda">Gouda</ion-option>
        <ion-option value="Cheddar">Cheddar</ion-option>
        <ion-option value="Provolone">Provolone</ion-option>
        <ion-option value="Camembert">Camembert</ion-option>
        <ion-option value="Parmesano">Parmesano</ion-option>
        <!-- <ion-option [(ngRepeat)]="ingredientes" value="Ingredientes">{{ingredientes}}</ion-option> -->
      </ion-select>
    </ion-item>
  </ion-list>

  <!-- boton buscar -->
  <button ion-button outline round block color="danger">Buscar receta</button>



</ion-content>
