<ion-header>
  <ion-navbar color="danger">
    <ion-title>Ingredientes</ion-title>
  </ion-navbar>
  <ion-navbar >
    <ion-searchbar [(ngModel)]="filtros.input" (ionInput)="filtrar()" autocomplete="on" placeholder="Buscar">
    </ion-searchbar>
    <ion-item>
      <ion-label>Categoría</ion-label>
      <ion-select [(ngModel)]="filtros.categoria" (ngModelChange)="filtrar()" cancelText="Cancelar" okText="Aceptar">
        <ion-option value="{{categoria.nombre}}" *ngFor="let categoria of categorias">{{categoria.nombre}}</ion-option>
      </ion-select>
    </ion-item>  </ion-navbar>
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC:700" rel="stylesheet">
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let ingrediente of ingredientesSearch; let i = index">
      <ion-label>{{ingrediente.nombre}}</ion-label>
      <ion-checkbox color="danger" [(ngModel)]="ingrediente.elegido" (ngModelChange)="seleccionar(i)"></ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div style="text-align: center">
      <button (click)="borrarSeleccion()" ion-button outline style="padding: 3px;width: 25%">Borrar selección</button>
      <button (click)="dismiss()" ion-button outline style="padding: 3px;width: 25%">Cancelar</button>
      <button (click)="dismissData()" ion-button outline style="padding: 3px;width: 25%">Aceptar</button>
    </div>
  </ion-toolbar>
</ion-footer>
