<ion-header>
  <ion-navbar color="danger">
    <ion-title>Ingredientes</ion-title>
  </ion-navbar>
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC:700" rel="stylesheet">
</ion-header>
<ion-content padding>
  <ion-searchbar [(ngModel)]="filtros.input" (ionInput)="filtrar()" autocomplete="on" placeholder="Buscar">
  </ion-searchbar>
  <ion-item>
    <ion-label>Categoría</ion-label>
    <ion-select [(ngModel)]="filtros.categoria" (ngModelChange)="filtrar()">
      <ion-option value="{{categoria.nombre}}" *ngFor="let categoria of categorias">{{categoria.nombre}}</ion-option>
    </ion-select>
  </ion-item>

  <ion-list>
    <ion-item *ngFor="let ingrediente of ingredientesSearch; let i = index">
      <ion-label>{{ingrediente.nombre}}</ion-label>
      <ion-checkbox [(ngModel)]="ingrediente.elegido" (ngModelChange)="seleccionar(i)"></ion-checkbox>
    </ion-item>
  </ion-list>

  <ion-fab bottom left>
    <button ion-fab mini color="danger" (click)="dismiss()">
      <ion-icon name="close"></ion-icon>
    </button>
  </ion-fab>
  <ion-fab bottom right>
    <button ion-fab mini color="secondary" (click)="dismissData()">
      <ion-icon name="checkmark"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
