<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:700" rel="stylesheet">
  </ion-header>

  <ion-content class="fuente">
    <!-- <ion-item>
        <ion-label icon left floating>
        <ion-icon ios="ios-search" md="md-search"></ion-icon>
        Buscar</ion-label>

        <ion-input type="text"></ion-input>
      </ion-item> -->
    <ion-list>
      <button class="letraBoton" menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
      <button class="letraBoton" menuClose ion-item *ngFor="let p of proximamente; let i=index" (click)="alertProximamente(i)">
        {{p.title}}
        <ion-badge item-right color="danger">Próximamente</ion-badge>
      </button>
    </ion-list>
    <button class="letraBoton" menuClose ion-item (click)="abrirLogin()">
      <ion-icon menuClose ios="ios-person" md="md-person"></ion-icon> Mi perfil
    </button>
    <button class="letraBoton" menuClose ion-item (click)="abrirFavoritos()">
      <ion-icon menuClose name="star"></ion-icon> Favoritos
    </button>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
