<ion-header>
  <ion-navbar color="danger">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Detalle de la receta</ion-title>
  </ion-navbar>
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC:700" rel="stylesheet">
</ion-header>

<ion-content padding>
  <!-- titulo -->
  <ion-card>
    <ion-item color="light">
      <h1 class="text-center">{{lista.nombre}}</h1>
      <h2 class="text-center"> ({{lista.personas}} comensales)</h2>
      <ion-icon item-right ios="ios-trash" md="md-trash" color="danger" (click)="borrarLista()"></ion-icon>
    </ion-item>
    <!-- imagen -->
    <img src="../assets/imgs/mila_papas.jpg">
    <!-- caracteristicas -->
    <ion-row>
      <ion-col>
        <ion-item>
          <div>dificultad</div>
        </ion-item>
        <ion-item>
          <div>tiempo_preparacion</div>
        </ion-item>
        <ion-item>
          <div>apto_para</div>
        </ion-item>
      </ion-col>
    </ion-row>

    <!-- estrellas -->
    <ion-item text-center>

        <button ion-button clear small *ngFor="let star of stars;let i= index" (click)="clickStart(i)">
            <ion-icon *ngIf="star.click" name="star" color="danger" ></ion-icon>
            <ion-icon *ngIf="!star.click" name="star-outline" color="danger"></ion-icon>
        </button>

          <!-- <ion-col center text-center>
            <ion-note>
              creador
            </ion-note>
          </ion-col> -->
    </ion-item>
  </ion-card>
  <ion-card>
    <!-- ingredientes -->
    <ion-card-content>
        <!-- video -->
        <ion-list>
            <ion-title class="label text-center">
              VIDEO
              <ion-icon [hidden]="video" name="arrow-dropdown" item-right (click)="video=!video;"></ion-icon>
              <ion-icon [hidden]="!video" name="arrow-dropup" item-right (click)="video=!video;"></ion-icon>
          </ion-title>
            <ion-item [hidden]="!video" text-center>
                <iframe src="https://www.youtube.com/embed/-SueZvZOps0" allow="autoplay; encrypted-media" allowfullscreen text-center></iframe>
            </ion-item>
        </ion-list>
      <ion-list>
        <ion-title class="label text-center">
          INGREDIENTES
          <ion-icon [hidden]="ingredientes" name="arrow-dropdown" item-right (click)="ingredientes=!ingredientes;"></ion-icon>
          <ion-icon [hidden]="!ingredientes" name="arrow-dropup" item-right (click)="ingredientes=!ingredientes;"></ion-icon>
      </ion-title>
        <ion-item [hidden]="!ingredientes" *ngFor="let item of lista.items" Descripcion icon-right>
          {{item.nombre}} ({{item.cantidad}} gramos)
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-title color="light">
      PASOS
    </ion-title>
  </ion-card>

  <!-- this fab is placed at bottom right -->
  <ion-fab bottom right >
    <button ion-fab mini color="dark"> <ion-icon name="share"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab color="primary" ><ion-icon name="logo-facebook"></ion-icon></button>
      <button ion-fab color="primary"><ion-icon name="logo-twitter"></ion-icon></button>

    </ion-fab-list>
    <ion-fab-list side="left">
     <button ion-fab color="danger"><ion-icon name="logo-googleplus"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>

</ion-content>
