<ion-header>
  <ion-navbar color="danger">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Detalle de la receta</ion-title>
  </ion-navbar>
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC:700" rel="stylesheet">
</ion-header>

<ion-content padding>
  <!-- titulo -->
  <ion-card>
    <ion-item color="light">
      <ion-icon item-start *ngIf="!receta.favorito" name="star-outline" color="danger" (click)="agregarFavorito()"></ion-icon>
      <ion-icon item-start *ngIf="receta.favorito" name="star" color="danger" (click)="eliminarFavorito()"></ion-icon>
      <h1 class="text-center">{{receta.nombre}}</h1>
      <h2 class="text-center" [hidden]="receta.personas < 1"> ({{receta.personas}} {{receta.personas>1?"comensales":"comensal"}})</h2>
      <ion-icon [hidden]="!puedeBorrar" item-right ios="ios-trash" md="md-trash" color="danger" (click)="borrarReceta()"></ion-icon>
    </ion-item>
    <!-- imagen -->
    <ion-slides pager [autoplay]="3500" [loop]="true" [centeredSlides]="true" class="slides-imagenes">
      <ion-slide class="slide-imagen" *ngFor="let imagen of receta.imagenes; let i = index">
        <img src="{{imagen}}" style="display:inline" alt="" class="imagen-receta">
      </ion-slide>
    </ion-slides>
    <!-- caracteristicas -->
    <ion-row>
      <ion-col>
        <ion-item (click)="verInfoNutricional()">
          <div><a class="hipervinculo-detalle" style="margin-left: 0">Información nutricional</a></div>
          <div item-right>
              <ion-icon color="primary" name="eye" item-right></ion-icon>
          </div>
        </ion-item>
        <ion-item>
          <div>Dificultad</div>
          <div item-right [hidden]="receta.dificultad > 1" style="color:green">Muy fácil</div>
          <div item-right [hidden]="receta.dificultad!==2" style="color:rgb(116, 190, 4)" >Fácil</div>
          <div item-right [hidden]="receta.dificultad!==3" style="color:#d1be12">Intermedio</div>
          <div item-right [hidden]="receta.dificultad!==4" style="color:red">Difícil</div>
          <div item-right [hidden]="receta.dificultad < 5" style="color:darkred">Muy difícil</div>
          </ion-item>
        <ion-item>
          <div>Tiempo de preparación</div>
          <div item-right>
              <ion-icon name="stopwatch" item-right></ion-icon>
              {{receta.tiempo}}'
          </div>
        </ion-item>
        <ion-item [hidden]="receta.apto_para.length<1">
            <div (click)="apto=!apto">
              Apto para
              <ion-icon [hidden]="apto" name="arrow-dropdown" style="float: right"></ion-icon>
              <ion-icon [hidden]="!apto" name="arrow-dropup" style="float: right"></ion-icon>
            </div>
            <ion-item [hidden]="!apto" *ngFor="let enfermedad of receta.apto_para">
              - {{enfermedad.nombre}}
            </ion-item>
        </ion-item>
      </ion-col>
    </ion-row>

    <!-- estrellas -->
    <ion-item text-center>

        <button ion-button clear small *ngFor="let star of stars;let i= index" (click)="clickStart(i)">
            <ion-icon *ngIf="star.pintada==1 && !star.click" name="star-half" color="danger" ></ion-icon>
            <ion-icon *ngIf="star.pintada==2 || star.click" name="star" color="danger" ></ion-icon>
            <ion-icon *ngIf="!star.pintada && !star.click" name="star-outline" color="danger"></ion-icon>
        </button>

          <!-- <ion-col center text-center>
            <ion-note>
              creador
            </ion-note>
          </ion-col> -->
    </ion-item>
  </ion-card>
  <ion-card>
    <!-- ingredientes -->
    <ion-card-content>
        <!-- video -->
        <ion-list>
            <ion-title class="label text-center" (click)="video=!video;">
              VIDEO
              <ion-icon [hidden]="video" name="arrow-dropdown" style="float: right"></ion-icon>
              <ion-icon [hidden]="!video" name="arrow-dropup" style="float: right"></ion-icon>
          </ion-title>
            <ion-item [hidden]="!video" text-center>
                <iframe style="width: 100%" [src]="receta.video | safeUrl" allowfullscreen text-center></iframe>
            </ion-item>
        </ion-list>
    </ion-card-content>
  </ion-card>
   <ion-card>
    <!-- ingredientes -->
    <ion-card-content>
      <ion-list>
        <ion-title class="label text-center" (click)="ingredientes=!ingredientes;">
          INGREDIENTES
          <ion-icon [hidden]="ingredientes" name="arrow-dropdown" style="float: right"></ion-icon>
          <ion-icon [hidden]="!ingredientes" name="arrow-dropup" style="float: right"></ion-icon>
      </ion-title>
        <ion-item [hidden]="!ingredientes" *ngFor="let item of receta.ingredientes" Descripcion icon-right>
          {{item.ingrediente.nombre}} ({{item.cantidad}} {{item.ingrediente.unidad}})
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card>
      <ion-card-content>
        <ion-list>
          <ion-title class="label text-center" (click)="pasos=!pasos;">
            PASOS
            <ion-icon [hidden]="pasos" name="arrow-dropdown" style="float: right"></ion-icon>
            <ion-icon [hidden]="!pasos" name="arrow-dropup" style="float: right"></ion-icon>
          </ion-title>
          <ion-slides pager *ngIf="pasos" style="height: fit-content" [paginationType]="fraction">

            <ion-slide *ngFor="let paso of receta.pasos" style="margin-top: 15px;">
              <h2 color="red" style="margin-bottom: 15px;font-size: 20px">{{paso.nombre}}</h2>
              <h5 color="danger" style="margin-bottom: 35px;">{{paso.descripcion}}</h5>
            </ion-slide>

          </ion-slides>
          <!-- <ion-item [hidden]="!pasos" *ngFor="let paso of receta.pasos">
                                {{paso.nombre}}
                              </ion-item> -->
        </ion-list>
      </ion-card-content>
</ion-card>

  <!-- this fab is placed at bottom right -->
  <ion-fab bottom right >
    <button ion-fab mini color="dark"> <ion-icon name="share"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab color="danger" [hidden]="!share.facebook" (click)="shareFacebook()"><ion-icon name="logo-facebook"></ion-icon></button>
      <button ion-fab color="danger" [hidden]="!share.twitter" (click)="shareTwitter()"><ion-icon name="logo-twitter"></ion-icon></button>

    </ion-fab-list>
    <ion-fab-list side="left">
     <button ion-fab color="danger" [hidden]="!share.instagram" (click)="shareInstagram()"><ion-icon name="logo-instagram"></ion-icon></button>
     <button ion-fab color="danger" [hidden]="!share. whatsapp" (click)="shareWhatsApp()"><ion-icon name="logo-whatsapp"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>

</ion-content>
